<!DOCTYPE html>
<html>
<head>
  <title>Glob&aacute;sico</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
  <div class="image-top">
    <%= image_tag 'globasico_logo.jpg', :class => 'globasico-logo' %>
    <div class="slogan">"Welcome to the virtual tool that will allow you to obtain detailed information, accurate and reliable Industrial Real Estate Market in Tijuana, Mexico."</div>
  </div>
  <div class="top-menu">
    <%= render :partial => 'shared/main_menu' %>
  </div>

  <div class="main-content">
    <%= yield %>
  </div>

</body>
</html>
